<link rel="stylesheet" href="/css/output.css" />
@using BasicDotNetMVC.Models
<body class="min-h-screen max-w-screen flex flex-wrap flex-col bg-gray-700 text-white justify-center ">
    @Html.Partial("_Header")
    <div class="h-128  w-full flex justify-center items-center px-8">
        @Html.Partial("_ImageNextToParagraph", new ImageNextToParagraphModel
        {
        Description = "Join the Helldivers today and protect Super Earth from the alien menace. Enlist now and become a hero of Super Earth! Liberty, Managed Democracy, and Freedom.",
        BackgroundImageUrl = "/Images/LibertyNeedsYou.png"
        })
    </div>

    <section class="h-32 flex items-center justify-center">
        <hr class="border-yellow-600 border-t-2 w-3/4" />
    </section>


    <div class=" w-full h-300 lg:h-150 flex flex-col flex-grow lg:flex-row justify-center items-center px-8">
        <div class="w-full lg:w-1/2 h-1/2 lg:h-full flex justify-center items-center  lg:ml-4 lg:pl-4">
            @Html.Partial("_HeadlineParagraphImage", new HeadlineParagraphImageModel
            {
            Headline = "Know Your Enemy",
            Description = "The Helldivers face three main enemies: the Illuminate, the Terminids, and the Automatons. Each enemy poses unique challenges and requires different strategies to defeat. Learn about their strengths and weaknesses to better prepare for your missions.",
            BackgroundImageUrl = "/Images/HelldiverEagle.png"
            })
        </div>
        <div class="container w-full lg:w-1/2 h-1/2 lg:h-auto object-contain m-4 pt-4 lg:pl-4 lg:pt-0 items-center">
            @Html.Partial("_Carousel")
        </div>
    </div>

    <section class="h-32 flex items-center justify-center">
        <hr class="border-yellow-600 border-t-2 w-3/4" />
    </section>

    <div class="w-full h-auto object-contain items-center px-8">
        <div class="flex flex-wrap justify-center items-center ">
            <!-- each card would normally have a seperate picute and text-->
            <div class="h-96 lg:h-64 w-96 lg:w-64 p-4 row-span-1 flex justify-center items-center">
                @Html.Partial("_Card", new CardModel
                {
                Headline = "Test",
                Description = "Test2",
                BackgroundImageUrl = "/Images/HelldiversLogo.jpg",
                ReadMoreLink = "/ReadMore1"
                })
            </div>
            <div class="h-96 lg:h-64 w-96 lg:w-64 p-4 row-span-1 flex justify-center items-center">
                @Html.Partial("_Card", new CardModel
                {
                Headline = "Test",
                Description = "Test2",
                BackgroundImageUrl = "/Images/HelldiversLogo.jpg",
                ReadMoreLink = "/ReadMore1"
                })
            </div>
            <div class="h-96 lg:h-64 w-96 lg:w-64 p-4 row-span-1 flex justify-center items-center">
                @Html.Partial("_Card", new CardModel
                {
                Headline = "Test",
                Description = "Test2",
                BackgroundImageUrl = "/Images/HelldiversLogo.jpg",
                ReadMoreLink = "/ReadMore1"
                })
            </div>
            <div class="h-96 lg:h-64 w-96 lg:w-64 p-4 row-span-1 flex justify-center items-center">
                @Html.Partial("_Card", new CardModel
                {
                Headline = "Test",
                Description = "Test2",
                BackgroundImageUrl = "/Images/HelldiversLogo.jpg",
                ReadMoreLink = "/ReadMore1"
                })
            </div>
            <div class="h-96 lg:h-64 w-96 lg:w-64 p-4 row-span-1 flex justify-center items-center">
                @Html.Partial("_Card", new CardModel
                {
                Headline = "Test",
                Description = "Test2",
                BackgroundImageUrl = "/Images/HelldiversLogo.jpg",
                ReadMoreLink = "/ReadMore1"
                })
            </div>
            <div class="h-96 lg:h-64 w-96 lg:w-64 p-4 row-span-1 flex justify-center items-center">
                @Html.Partial("_Card", new CardModel
                {
                Headline = "Test",
                Description = "Test2",
                BackgroundImageUrl = "/Images/HelldiversLogo.jpg",
                ReadMoreLink = "/ReadMore1"
                })
            </div>
            <div class="h-96 lg:h-64 w-96 lg:w-64 p-4 row-span-1 flex justify-center items-center">
                @Html.Partial("_Card", new CardModel
                {
                Headline = "Test",
                Description = "Test2",
                BackgroundImageUrl = "/Images/HelldiversLogo.jpg",
                ReadMoreLink = "/ReadMore1"
                })
            </div>
            <div class="h-96 lg:h-64 w-96 lg:w-64 p-4 row-span-1 flex justify-center items-center">
                @Html.Partial("_Card", new CardModel
                {
                Headline = "Test",
                Description = "Test2",
                BackgroundImageUrl = "/Images/HelldiversLogo.jpg",
                ReadMoreLink = "/ReadMore1"
                })
            </div>
            <div class="h-96 lg:h-64 w-96 lg:w-64 p-4 row-span-1 flex justify-center items-center">
                @Html.Partial("_Card", new CardModel
                {
                Headline = "Test",
                Description = "Test2",
                BackgroundImageUrl = "/Images/HelldiversLogo.jpg",
                ReadMoreLink = "/ReadMore1"
                })
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
